<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaquila.akiloyunlariapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/mindpuzzles_icon_3xxhdpi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mindpuzzles_icon_3xxhdpi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyClassActivity"></activity>
        <activity android:name=".LeaderboardActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivityPentomino"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameActivitySozcukTuru"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameActivityPatika"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameActivityHazineAvi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SizeActivityForTwoSizedGames"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameActivitySudoku"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameActivityPiramit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DifficultyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HowToPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameActivitySayiBulmaca"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>